<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mac.product.dao.MacColorMapper">
  <resultMap id="BaseResultMap" type="com.mac.product.entity.MacColor">
    <result column="c_id" jdbcType="INTEGER" property="cId" />
    <result column="c_name" jdbcType="VARCHAR" property="cName" />
  </resultMap>

    <select id="findColorByGoodsId" resultMap="BaseResultMap">
        select * from mac_color where c_id = #{id}
    </select>
</mapper>