<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mac.product.dao.MacTypeMapper">
  <resultMap id="BaseResultMap" type="com.mac.product.entity.MacType">
    <result column="t_id" jdbcType="INTEGER" property="tId" />
    <result column="t_name" jdbcType="VARCHAR" property="tName" />
  </resultMap>
    <select id="findTypeByGoodsId" resultMap="BaseResultMap">
        select * from mac_type where t_id = #{tid}
    </select>

</mapper>