<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mac.video.dao.MacVideoMapper" >
  <resultMap id="BaseResultMap" type="com.mac.video.entity.MacVideo" >
    <id column="v_id" property="vId" jdbcType="INTEGER" />
    <result column="v_title" property="vTitle" jdbcType="VARCHAR" />
    <result column="v_desc" property="vDesc" jdbcType="VARCHAR" />
    <result column="v_url" property="vUrl" jdbcType="VARCHAR" />
    <result column="v_img_url" property="vImgUrl" jdbcType="VARCHAR" />
  </resultMap>

  <insert id="insert" parameterType="com.mac.video.entity.MacVideo" >
    insert into mac_video (v_title, v_desc,
      v_url, v_img_url)
    values (#{vTitle,jdbcType=VARCHAR}, #{vDesc,jdbcType=VARCHAR},
      #{vUrl,jdbcType=VARCHAR}, #{vImgUrl,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select v_id,v_title,v_desc,v_url,v_img_url from mac_video
  </select>

  <select id="queryVideoById" resultMap="BaseResultMap">
    select v_id,v_title,v_desc,v_url,v_img_url from mac_video where id = #{vid}
  </select>

</mapper>