<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mac.product.dao.TotalSortMapper">
  <resultMap id="BaseResultMap" type="com.mac.product.entity.TotalSort">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="sname" jdbcType="VARCHAR" property="sortName" />
    <result column="up_level" jdbcType="INTEGER" property="upLevel" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
  </resultMap>
  <insert id="insert" parameterType="com.mac.product.entity.TotalSort">
    insert into total_sort (sname, up_level,
      grade)
    values (#{sortName,jdbcType=VARCHAR}, #{upLevel,jdbcType=INTEGER},
      #{grade,jdbcType=INTEGER})
  </insert>

  <select id="queryAllSort" resultMap="BaseResultMap">
    select id,sname,up_level,grade from total_sort
  </select>

  <select id="querySortByUp" resultMap="BaseResultMap">
    select id,sname,up_level,grade from total_sort where up_level=#{sortId}
  </select>

  <select id="backAllSort" resultType="com.mac.dto.TotalSortDto">
select t1.id,t1.sname as sortName,t1.up_level as upLevel,t1.grade,t2.sname as upLevelName from total_sort t1 left join total_sort t2 on t1.up_level=t2.id;
  </select>
</mapper>